*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}
.header {
    height: 3rem;
    background-color: #242121;
    display: flex;
    align-items: center;
    justify-content: center;
    &__logo{
        height: 2rem;
    }
}
.hero {
    background-image: url(../assets/img/pexels-roman-odintsov-4958907.jpg);
    background-size: cover;
    background-position: center;
    height: 25rem;
    &__title {
        font-family:sans-serif;
        color: #242121;
        padding: 2.25rem;
    }
    &__text {
        font-family:sans-serif;
        color: #242121;
        padding: 2.25rem;
    }
}

.form {
    padding: 2.25rem;
    &__container {
        display: flex;
        justify-content: left;
        gap: 2rem;
    }
    &__label {
        font-family:sans-serif;
        color: #242121;
        padding: 2.25rem;
    }
    &__selector {
        font-family: sans-serif;
        height: 2rem;;
    }   
}

.footer {
        height: 3rem;
        background-color: #242121;
}

.button {
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    border-style: none;
    background-color: #242121;
    color: white;
    font-family: sans-serif;
}

.button:disabled {
    background-color: grey;
}